In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv(r"C:\Users\jatin\Desktop\ML\Try\archive\mov.csv")
keywords = pd.read_csv(r"C:\Users\jatin\Desktop\ML\Try\archive\keywords.csv")
credits = pd.read_csv(r"C:\Users\jatin\Desktop\ML\Try\archive\credits.csv")

C:\Users\jatin\anaconda3\envs\env1\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
movies.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
credits.head(5)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [6]:
credits.dtypes

cast    object
crew    object
id       int64
dtype: object

In [7]:
credits['id'] = credits['id'].astype(str)

In [8]:
credits.dtypes

cast    object
crew    object
id      object
dtype: object

In [9]:
movies = movies.merge(credits, on='id')

In [10]:
movies.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [11]:
keywords['id'] = keywords['id'].astype(str)

In [12]:
movies = movies.merge(keywords, on='id')

In [13]:
movies.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."

In [14]:
movies = movies[['title','genres','keywords','overview','production_companies','imdb_id','cast','crew','poster_path']]
movies.head(3)

,title,genres,keywords,overview,production_companies,imdb_id,cast,crew,poster_path
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","Led by Woody, Andy's toys live happily in his ...","[{'name': 'Pixar Animation Studios', 'id': 3}]",tt0114709,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",When siblings Judy and Peter discover an encha...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",tt0113497,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",A family wedding reignites the ancient feud be...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",tt0113228,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg

In [15]:
movies.drop(movies.head(44000).index, inplace = True)

In [16]:
movies.reset_index(inplace = True)

In [17]:
import ast

In [18]:
def convert(text):
    J = []
    for i in ast.literal_eval(text):
        J.append(i['name']) 
    return J

In [19]:
movies.dropna(inplace=True)

In [20]:
movies['genres']= movies['genres'].apply(convert)

In [21]:
movies['genres']

0                        [Action]
1                        [Action]
2                        [Action]
3                [Action, Comedy]
4            [Documentary, Music]
                  ...
2623              [Drama, Family]
2624                      [Drama]
2625    [Action, Drama, Thriller]
2626                           []
2627                           []
Name: genres, Length: 2458, dtype: object

In [22]:
movies['production_companies']= movies['production_companies'].apply(convert)
movies['production_companies']

0                              []
1        [PM Entertainment Group]
2                              []
3                              []
4                              []
                  ...
2623                           []
2624                [Sine Olivia]
2625    [American World Pictures]
2626                  [Yermoliev]
2627                           []
Name: production_companies, Length: 2458, dtype: object

In [23]:
def cast_try(text):
    J = []
    flag=0
    for i in ast.literal_eval(text):
        if flag<5:
            J.append(i['name']) 
        flag= flag+1
    return J

In [24]:
movies['cast']= movies['cast'].apply(cast_try)
movies['cast']

0       [David Bueno, Lex de Groot, Perawatch Herabuty...
1       [Michael Worth, Martin Kove, Brittney Powell, ...
2       [Michael Worth, Jenilee Harrison, Sam J. Jones...
3       [Daniel O'Neill, Priya Suandokemai, Gwion Jaco...
4       [Joey Ramone, Johnny Ramone, Dee Dee Ramone, M...
                              ...
2623          [Leila Hatami, Kourosh Tahami, Elham Korda]
2624    [Angel Aquino, Perry Dizon, Hazel Orencio, Joe...
2625    [Erika Eleniak, Adam Baldwin, Julie du Page, J...
2626    [Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...
2627                                                   []
Name: cast, Length: 2458, dtype: object

In [25]:
def direc(text):
    L = []
    for i in ast.literal_eval(text):
        if i['department'] == 'Directing':
            L.append(i['name'])
    return L

In [26]:
movies['crew'] = movies['crew'].apply(direc)
movies['crew']

0           [Piti Jaturaphat]
1              [Joseph Merhi]
2       [Richard W. Munchkin]
3             [Raimund Huber]
4              [John Cafiero]
                ...
2623       [Hamid Nematollah]
2624               [Lav Diaz]
2625         [Mark L. Lester]
2626       [Yakov Protazanov]
2627          [Daisy Asquith]
Name: crew, Length: 2458, dtype: object

In [27]:
movies['keywords']

0                                                      []
1       [{'id': 779, 'name': 'martial arts'}, {'id': 7...
2                                                      []
3                                                      []
4                                                      []
                              ...
2623               [{'id': 10703, 'name': 'tragic love'}]
2624    [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
2625                                                   []
2626                                                   []
2627                                                   []
Name: keywords, Length: 2458, dtype: object

In [28]:
movies['keywords']= movies['keywords'].apply(convert)

In [29]:
movies['keywords']

0                                              []
1       [martial arts, kung fu, drug, kickboxing]
2                                              []
3                                              []
4                                              []
                          ...
2623                                [tragic love]
2624                        [artist, play, pinoy]
2625                                           []
2626                                           []
2627                                           []
Name: keywords, Length: 2458, dtype: object

In [30]:
#converting string to list for adding all together
def str_list(string):
    li = list(string.split(" "))
    return li

In [31]:
def rmv_space(l):
    k = []
    for i in l:
        k.append(i.replace(" ",""))
    return k

In [32]:
movies['genres']= movies['genres'].apply(rmv_space)
movies['cast']= movies['cast'].apply(rmv_space)
movies['crew']= movies['crew'].apply(rmv_space)
movies['production_companies']= movies['production_companies'].apply(rmv_space)

In [33]:
movies['cast'].head(2)

0    [DavidBueno, LexdeGroot, PerawatchHerabutya, N...
1    [MichaelWorth, MartinKove, BrittneyPowell, Ale...
Name: cast, dtype: object

In [34]:

movies['overview']= movies['overview'].apply(str_list)

In [35]:
movies['tag'] = movies['genres'] + movies['keywords'] + movies['overview'] + movies['cast'] + movies['crew']

In [36]:
movies.head(2)

,index,title,genres,keywords,overview,production_companies,imdb_id,cast,crew,poster_path,tag
0,44000,FB: Fighting Beat,[Action],[],"[A, group, of, young, Muay, Thai, experts, led...",[],tt1264961,"[DavidBueno, LexdeGroot, PerawatchHerabutya, N...",[PitiJaturaphat],/2F9GZ48jWbdMGs8FsrqYVpKeQYT.jpg,"[Action, A, group, of, young, Muay, Thai, expe..."
1,44001,To Be the Best,[Action],"[martial arts, kung fu, drug, kickboxing]","[Eric, Kulhane,, a, member, of, the, U.S., Kic...",[PMEntertainmentGroup],tt0108346,"[MichaelWorth, MartinKove, BrittneyPowell, Ale...",[JosephMerhi],/1DjUGJWvfwnIiqB4WVWUzPodyOf.jpg,"[Action, martial arts, kung fu, drug, kickboxi..."

In [37]:
mov = movies[['title', 'imdb_id', 'tag','poster_path']]
mov.head(2)

,title,imdb_id,tag,poster_path
0,FB: Fighting Beat,tt1264961,"[Action, A, group, of, young, Muay, Thai, expe...",/2F9GZ48jWbdMGs8FsrqYVpKeQYT.jpg
1,To Be the Best,tt0108346,"[Action, martial arts, kung fu, drug, kickboxi...",/1DjUGJWvfwnIiqB4WVWUzPodyOf.jpg

In [38]:
mov['tag']=mov['tag'].apply(lambda x:" ".join(x))

C:\Users\jatin\anaconda3\envs\env1\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
mov['tag'][4]

"Documentary Music Climb in the van, buckle your seat belt and hang on tight because you're about to experience life on the road with the founding fathers of punk rock, The Ramones! The band that started it all stars in this all encompassing video scrapbook spanning the Ramones history making career circa 1979-1996, most of which is seen here exclusively for the first time anywhere! Ramones Raw includes vintage concert footage professionally shot on film in 1980, archived and nearly forgotten for over 20 years, plus countless memorable moments from the band's illustrious career, rare TV appearances, backstage footage and LOTS more all set within the core; a plethora of home video from the Ramones personal archives. Armed with a Hi-8 camera on the road for the final 8 years of the band's world tours, Marky Ramone captured it all on tape; the good, the bad and the ugly, immortalized here your viewing pleasure... JoeyRamone JohnnyRamone DeeDeeRamone MarkyRamone ChristopherWard JohnCafiero"

In [40]:
mov.shape

(2458, 4)

In [41]:
import nltk

In [42]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [43]:
def stem(text):
    l=[]
    
    for i in text.split():
        ps.stem(i)
    return " ".join(l)

In [44]:
mov.reset_index(inplace = True, drop = True)

In [45]:
mov.dtypes

title          object
imdb_id        object
tag            object
poster_path    object
dtype: object

In [46]:
#mov['tag']=mov['tag'].apply(stem)

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')

In [48]:

x = cv.fit_transform(mov['tag']).toarray()

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
similarity = cosine_similarity(x)

In [52]:
def recommend(movie):
    index = mov[mov['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[0:8]:
        print(mov.iloc[i[0]].title)

In [54]:
#recommend('Dangal')

In [55]:
#recommend('Cinderella')

In [56]:
##recommend('Titanic')

In [57]:
import pickle
import json

In [58]:
pickle.dump(mov,open('movie_list.pkl','wb'), protocol=4)

In [59]:

pickle.dump(similarity,open('similarity.pkl','wb'), protocol=4)

In [60]:
# with open("similarity.pkl", "rb") as f:
#     similarity_matrix = pickle.load(f)

In [61]:
# similarity_matrix_list = []
# for row in similarity_matrix:
#     similarity_matrix_list.append(list(row))

In [62]:
# with open("similarity.json", "w") as f:
#     json.dump(similarity_matrix_list, f)

In [63]:
mov[mov['title'] == 'Subdue'].index[0]

2453

In [64]:
recommend('Subdue')

Subdue
Other Worlds
Escape
Nothing in Return
Desirable
I'll Take You There
Final Cut: Ladies and Gentlemen
Our Loved Ones